*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-family:Arial, Helvetica, sans-serif;
   position: relative;
   background: linear-gradient(
    140deg
    #3f177b
    #0e56f0
    #83C9F4
   );
background-size: 300% 300%;
animation: aurora 10s linear infinite;
}
@keyframes aurora{
    0%{
        background-position: right;
    }
    50%{
        background-position: left;
      }
    100%{
        background-position: right;
    }
}